main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 5rem;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.card {
    width: calc(100vh / 6 - 1.5rem);
    height: calc(100vh / 6 - 1.5rem);
    background: red;
    cursor: pointer;
}

.card.back {
    background: grey;
}

.clock-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.end-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end-banner {
    text-align: center;
    background: lightgray;
    padding: 1rem 8rem 0;
    border-radius: 2rem;
    p {
        margin-bottom: 0;
    }
}
